@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.retangulo-frase-do-dia{

    width: 620px;
    height: 119px;
    margin-left: 160px;
    margin-top: 32px;
    border-radius: 20px;
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    
  
}

.fundo-amarelo-claro{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 16px;
    margin-top: 16px;
    background: #FFFCEE;

}

#fundo-amarelo-medio{
    position: relative;
    display: flex;
    width: 34px;
    height: 34px;
    margin-top: 5px;
    margin-left: 5px;
    background: #FFF5C0;
    border-radius: 50%;

}

.icon-tips{
    width: 24px;
    height: 24px;
    display: flex;
    margin-top: 6px;
    margin-left: 6px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: -0.017em;
    color: #FBB910;
}
  
.title-frase-do-dia{

    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    margin-top: 16px;
    margin-left: 7px;
    width: 75px;
    height: 18px;
  
}
  
.text-retangulo-frase-do-dia{
    display: flex;
    width: 532px;
    height: 63px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-left: 68px;
    margin-top: -45px; 
}

.kanban{
    display: flex;
    width: 960px;
    height: 62.4vh;
    margin-left: 160px;
    margin-top: 32px;
    margin-bottom: 31px;

}

.itens-kanban{
    width: 295px;
    height: 38px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}

.aFazer{
    display: flex;
    flex-wrap: wrap;
    width: 293px;
    height: 375px;
}

.text-aFazer{
    width: 68px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #141414;

}

.btn-aFazer{
    display: flex;
    width: 30px;
    height: 30px;
    border: 2px solid #226ED8;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

#icon-add{

    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-left: 0px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #226ED8;
}


.fundo-cinza{

    display: flex;
    overflow: auto;
    width: 293px;
    height: 337px;
    background: #EEEEEE;
    border-radius: 10px;
}

.frame{

    width: 253px;
    height: 298px;
    margin-left: 20px;
    margin-top: 20px;

}

.task{

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;
    width:  253px;
    height: 74px ;
    border-radius: 10px;
    background-color: #FFFFFF;

}

.text-tasks{

    width: 192px;
    height: 21px;
    margin-top: 12px;
    margin-left: 12px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #141414;
    white-space: nowrap;

}

.posicionamento{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.organization{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: -11.5px;
}

.desc-tasks{

    width: 80px;
    height: 18px;
    margin-left: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #141414;

}

.more-vert{

    position: relative;
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-left: 54px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;

}

.rectangle-component{

    display: flex;
    position: relative;
    width: 71px;
    height: 49px;
    margin-left: -31px;

}

.more-vert-menu {
    display: flex;
    align-items: center;
    position: relative;
  }

.expanding-more{

    width: 12px;
    height: 12px;
    margin-top: 3px;
    margin-left: 2px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
    color: #141414;
    right: auto;
    border: none;
    background: none;
    cursor: pointer;
}

.expanding-more-menu {
    display: flex;
    align-items: center;
    position: relative;
  }

.delete-rectangle{

    position: absolute;
    width: 71px;
    height: 31px;
    margin-left: 0px;
    margin-top: 60px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    align-items: center;
    border: none;
    z-index: 1;
    cursor: pointer;

}

#icon-delete{

    width: 16px;
    height: 16px;
    margin-left: 7px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #DF0000;

}

#text-delete{

    width: 38px;
    height: 18px;
    margin-left: 3px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #DF0000;
}

.text-more-description{

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;
    width: 253px;
    height: 116px;
    border-radius: 10px;
    background-color: #FFFFFF;

}

.expanding-less{

    width: 12px;
    height: 12px;
    margin-top: 3px;
    margin-left: 2px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #002D6C;
    background: none;
    border: none;
    cursor: pointer;

}

.descrição{

    width: 163px;
    height: 36px;
    margin-top: 24px;
    margin-left: -132px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #141414;

}

.btn-next{
    display: flex;
    width: 20px;
    height: 20px;
    background: #226ED8;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.btn-before{

    width: 20px;
    height: 20px;
    display: flex;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #226ED8;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.navegate-next{

    width: 16px;
    height: 16px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.navegate-before{

    width: 16px;
    height: 16px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #226ED8;

}

.em-andamento{

    width: 293px;
    height: 375px;
    margin-left: 40px;

}

.feito{

    width: 960px;
    height: 376px;
    margin-left: 40px;

}
