.kanbanDarkMode{
    background-color: #222222;
    width: 100%;
    height: 100%;
}

.retangulo-frase-do-dia-dark{

    width: 620px;
    height: 119px;
    margin: 32px auto; 
    border-radius: 20px;
    background:#3D3D3D;
    display: flex;
    flex-wrap: wrap;
    
  
}

.fundo-amarelo-claro-dark{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-left: 16px;
    margin-top: 16px;
    background:#515151

}

.fundo-cinza-dark{
    display: flex;
    overflow: auto;
    width: 293px;
    height: 337px;
    background: #333333;
    border-radius: 10px;
}

.desc-tasks-dark{

    width: 80px;
    height: 18px;
    margin-left: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FAFAFA;

}

.expanding-more-dark{

    width: 12px;
    height: 12px;
    margin-top: 3px;
    margin-left: 2px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
    color: #FAFAFA;
    right: auto;
    border: none;
    background: none;
    cursor: pointer;
    
}

.btn-next-dark{
    display: flex;
    width: 20px;
    height: 20px;
    background: #3867D6;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.btn-before-dark{

    width: 20px;
    height: 20px;
    display: flex;
    box-sizing: border-box;
    background:none;
    border: 1px solid #226ED8;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


@media (max-width: 1500px) {

    .retangulo-frase-do-dia-dark{
        margin-left: 160px;
    }


}

@media (max-width: 426px) {

    
    .retangulo-frase-do-dia-dark{
    
        width: 287px;
        height: 60px;
        margin-left: 44px;
        margin-top: 30px;
        border-radius: 20px;
    }
    
    .fundo-amarelo-claro-dark{
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        margin-left: 22px; 
        margin-top: 8px;
    
    }
      
    .kanban{
    
        margin-left: 10px;
        margin-top: 30px;
        display: flex;
        width: 355px;
        height: 436px;
    
    }
    

    
    .fundo-cinza-dark{
    
        display: flex;
        overflow: auto;
        width: 287px;
        height: 396px;
        border-radius: 10px;

    }

    
    .frame{
    
        width: 253px;
        height: 362px;
        margin-left: 14px;
        margin-top: 14px;
    
    }
    
    .em-andamento{
    
        display: none;
        width: 293px;
        height: 375px;
        margin-left: 40px;
    
    }
    
    .feito{
     display: none;
        width: 960px;
        height: 376px;
        margin-left: 40px;
    
    }

    .bolinhas-mobile{
        display: flex;
        width: 64px;
        height: 12px;
        justify-content: space-between;
        margin-top: 448px;
        margin-left: -162px;
    }

    .bolinhas{
        display: flex;
        width: 12px;
        height: 12px;
        background: #226ED8;
        border-radius: 10px;
        

    }

}

