@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.orgainzation-login{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

.img-login{

    display: flex;

}

.divisor{
     
    display: flex;
    width: 0px;
    height: 601px;
    border: 2px solid rgba(156, 199, 251, 0.7);
    transform: rotate(0.06deg);

}

.forms-entrada{

    width: 374px;
    height: 343px;
   

}

.title-login-entrada{

    width: 205px;
    height: 63px;
    margin-left: 84px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #226ED8;
}

.campo-forms{

    position: relative;
    width: 374px;
    height: 68px;

}

.icon-senha{

    position: absolute;
    transform: translateY(-50%);
    color:  #395B8A;
    font-size: 24px;
    left: 334px;
    top: 75%;
    background: none;
    background: none;
    border: none;
    padding: 0; 
    cursor: pointer; 
    z-index: 1;

}

.title-box{

    width: 53px;
    height: 24px;
    margin-bottom: 4px;
    margin-top: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #00122B;
    white-space: nowrap;

}

input{
    gap: 0px;
    display: flex;
    box-sizing: border-box;
    width: 374px;
    height: 40px;
    background: #EEF5FF;
    border: 1px solid #002D6C;
    border-radius: 8px;
    
}

.esqueceu-a-senha{

    display: flex;
    width: 100px;
    height: 15px;
    margin-top: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #226ED8;

}

#btn-entrar{

    display: flex;
    width: 374px;
    height: 45px;
    margin-top: 32px;
    background: #226ED8;
    border-radius: 20px;
    border: none;
    align-items: center;
    justify-content: center;

}

.text-btn-enviar{

    display: flex;
    width: 50px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;

}

.retangulo2-login{

    display: flex;
    width: 252px;
    height: 53px;
    margin-top: 32px;
    margin-left: 61px;
    flex-direction: column;
    align-content: stretch;
    align-items: center;

}

.linha{

    position: absolute;
    width: 0px;
    height: 170px;
    border: 1px solid #3B5F91;
    transform: rotate(90deg);
    display: flex;
    margin-top: -83px;


}

.não-tem-conta{

    width: 252px;
    height: 21px;
    margin-top: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #00122B;
    white-space: nowrap;

}

.text-input{

    padding-left: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #00122A;

}

.link-style{
    text-decoration: none;
}

.input-field{
    position: relative;
}

.senha-incorreta{

    width: 174px;
    height: 15px;
    margin-top: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #820000;

}


@media (max-width: 1500px) {

    .orgainzation-login{
        display: flex;
        justify-content: space-evenly;
        margin-top: 35px;
    }

    .img-login{

        margin-left: 48px;
        margin-top: 13px;
        width: 542.16px;
        height: 582.67px;

    }

    .divisor{
        margin-left: 49.84px;
    }

    .forms-entrada{
        margin-top: 29px;
        margin-left: 139.39px;
    }



}







