.background-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;;
    z-index:  1000;
    width: 100%;
    height: 100%;
    background: #14141466;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rectangle-modal-cadastro{

    width: 394px;
    height: 136px;

}

.background-modal-2{

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 394px;
    height: 136px;
    background: #FCFFF5;
    border: 1px solid #6CA11E;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;


}

.position-vetor{

    width: 30px;
    height: 30px;
    margin-left: 16px;
    margin-top: 33px;


}

.title-modal-2{

    width: 272px;
    height: 30px;
    margin-top: -30px;
    margin-left: 51px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #00122A;

}

.subtitle-modal-2{

    width: 359px;
    height: 24px;
    margin-left: 17px;
    margin-top: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;

}

@media (max-width: 426px){

    .rectangle-modal-cadastro{

        width: 327px;
        height: 186px;
    
    }
    
    .background-modal-2{
    
        width: 327px;
        height: 186px;

    
    }
    
    .position-vetor{
    
        width: 44px;
        height: 36.75px;
        margin-left: 14px;
        margin-top: 34.63px;
    
    
    }
    
    .title-modal-2{
    
        width: 237px;
        height: 39px;
        margin-top: -33px;
        margin-left: 68px;
        font-size: 17px;
        line-height: 25.5px;

    
    }
    
    .subtitle-modal-2{
    
        width: 297.95px;
        height: 67.06px;
        margin-left: 14.11px;
        margin-top: 16.37px;
    
    }

}



