*{
  margin: 0;
  padding: 0;
}

body{
  background: #fafafa;
  font-family: poppins;
}


nav{

  display: flex;
  width: 100%;
  height: 80px;
  background-color: #226ED8;
  position: relative;

}

footer{
  
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #114FA7;
  align-items: center;
  justify-content: center;

}